.ancester {
    position: relative;
    width: 675px;
    height: 675px;
    object-fit: contain;
    margin-top: auto;
}

.body {
    position: absolute;
}

.head {
    position: absolute;
    animation: rotate 5s infinite linear; 
    transform-origin: 150% 25%;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

.btn {
    position: relative;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100px;
    height: 50px;
    animation: bounce 1s infinite;
}